@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark;
}

/* Set Poppins as default font */
@tailwind base;
@layer base {
  html {
    font-family: "Poppins", system-ui, sans-serif;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slide-up 0.5s ease-out forwards;
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.bounce {
  animation: bounce 0.3s ease;
}
